<!DOCTYPE html>
<html>
<head>
    <title>User List</title>
</head>
<body>
    <h1>All Users</h1>
    <ul>
        {% for user in users %}
            <li>
                {{ user.username }} - {{ user.email }} - {{ user.date_of_birth }}
                {% if user.profile_photo %}
                    <img src="{{ user.profile_photo.url }}" alt="Profile Photo" width="50">
                {% endif %}
            </li>
        {% empty %}
            <li>No users found.</li>
        {% endfor %}
    </ul>
</body>
</html>
